{% extends 'layout.html' %}
{% block body %}

<!-- START card-->
<div role="tabpanel">
    <!-- Nav tabs-->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="/settings" aria-controls="report" role="tab">Notifications</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="/settings/alert" aria-controls="profile" role="tab">Alerts</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="/settings/rules" aria-controls="profile" role="tab">Rules</a>
        </li>
    </ul>
</div>
<div class="card card-default">
    <div class="card-header"> &nbsp;</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>Farm Name</td>
                            <td>{{farm.farm_name}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Notification Channels</th>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{farm.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{farm.phone}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="form-horizontal" method="POST" action="/processSettings">
                    <div class="form-group">
                        <label class="sr-only" for="min_temperature">Farm Name</label>
                        <input required class="form-control mb-2" id="farm_name" name="farm_name" type="text"
                            placeholder="Farm Name" value="{{farm.farm_name}}">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="phone">Emergency Phone</label>
                        <input required class="form-control mb-2" id="phone" name="phone" type="text"
                            placeholder="Phone" value="{{session['phone']}}">
                    </div>
                    <div class="form-group">

                        <button class="btn btn-sm btn-danger" type="submit">Update</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- END card-->

{% endblock %}