{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-xl-12">
        <div role="tabpanel">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="/report" aria-controls="report" role="tab">Report</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/analytics" aria-controls="profile" role="tab">Analytics</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="card card-default">
                    <div class="card-body">
                        <form>
                            {% include '_report_filter.html' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END row-->

<div class="row mt-5">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <h4>Recent Temperature/Humidity of the Brood</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date/Time</th>
                                <th>Temperature</th>
                                <th>Humidity</th>
                                <th>Water Level</th>
                                <th>Feed Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in dht_data %}
                            <tr>
                                <td>{{row.reading_date}}/{{row.reading_time}}</td>
                                <td>{{row.temperature}}</td>
                                <td>{{row.humidity}}</td>
                                <td>{{row.water_level}}</td>
                                <td>{{row.feed_level}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}