{% extends 'layout.html' %}
{% block body %}

<!-- START card-->
<div class="card card-default">
    <div class="card-header"> Settings</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>Min. Temperature</td>
                            <td>0 deg</td>
                        </tr>
                        <tr>
                            <td>Max. Temperature</td>
                            <td>0 deg</td>
                        </tr>
                        <tr>
                            <th colspan="2">Emergency Contacts</th>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>yourname@domain.com</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>012345678</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="sr-only" for="max_temperature">Max. Temperature</label>
                        <input required class="form-control mb-2" id="max_temperature" name="max_temperature"
                            type="number" min="0" placeholder="Max Temperature">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="min_temperature">Min. Temperature</label>
                        <input required class="form-control mb-2" id="min_temperature" name="min_temperature"
                            type="number" min="0" placeholder="Min Temperature">
                    </div>
                    <div class="form-group">

                        <button class="btn btn-sm btn-danger" type="submit">Update</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- END card-->

{% endblock %}